<div th:fragment="login-form">
	<div th:if="!${logged}">
		<h1>Login in</h1>
		<form method="post" action="/login">
			<div>
				<label for="username">Username:</label>
				<input type="text" id="username" name="username">
			</div>
			<div>
				<label for="password">Password:</label>
				<input type="password" id="password" name="password">
			</div>
			<button class="btn btn-primary" type="submit">Log In</button>
		</form>
		<button class="btn btn-secondary" onclick="location.href='/new-account'">Sign Up</button>
	</div>
	<div th:if="${logged}">
		<h1>Already logged in</h1>
	</div>
</div>