<div th:fragment="create-form">
	<form action="#" th:action="@{/create/save}" th:object="${tldr}" method="post">

		<div th:if="${isEdit}" class="form-group">
			<label for="id" th:text="Id"></label>
			<input type="text" class="form-control" th:required="required" readonly th:field="*{id}" />
		</div>
		<div class="form-group">
			<label for="name" th:text="Name"></label>
			<input type="text" class="form-control" th:required="required" th:field="*{name}" />
		</div>
		<div class="form-group">
			<label for="content" th:text="Content"></label>
			<input type="text" class="form-control" th:required="required" th:field="*{content}" />
		</div>
		<button type="submit" class="btn btn-primary">Post</button>
	</form>
</div>